/* ----- Landing.scss ----- */
@import "../Theme.scss";

.landing {
  width: 100%;
  height: 100vh;
//   background-color: lightgreen;

  @include flexbox;
  .landing__container {
    width: 80%;
    height: 80%;
    // background-color: lightcoral;
    .landing__image {
      width: 100;
      height: 50%;
    //   background-color: lightblue;
      @include flexbox;

      img{
        height: 200px;
      }
    }
    .landing__title {
      width: 100;
      height: 20%;
    //   background-color: lightseagreen;
      @include flexbox;

      p {
        color: $grey;
        font-size: $font-extra-large;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
      }
    }
    .landing__subtitle {
      width: 100;
      height: 10%;
    //   background-color: lightblue;
      @include flexbox;

      p {
        color: $grey;
        font-style: italic;
      }
    }
    .landing__button {
      width: 100;
      height: 10%;
    //   background-color: lightseagreen;
      @include flexbox;
    }
  }
}
