// ------ Theme ------

//? Colors
// $blue: #0f96c3;
$blue: #007FFF;
$purple: #582753;
$red: #7d292b;
$green: #0b572e;

$grey: #444e63;
$light-grey: #5b545b;
$greyIconsDark: rgba(#444e63, 0.75);
$greyIconsLight: rgba(#444e63, 0.3);

$white: #ffffff;
$black: #000000;

$form-black: rgba(68, 78, 99, 0.3);
$form-white: #c7cad0;

//? Border
$borderGreyLight: 1px solid $greyIconsLight;

//? Font Sizes

$font-light: 10px;
$font-extra-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-extra-large: 20px;

$font-icon: 20px;
$font-icon-small: 18px;

//? Mixins
@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textbox {
  width: 100%;
  height: 35px;
  padding: 10px;

  color: $grey;
  outline: none;
  border: $borderGreyLight;
  box-sizing: border-box;
  font-size: $font-small;

  &:focus {
    border: $borderGreyLight;
    border-color: $blue;
  }
}

//Blue Buttons
@mixin ButtonBlueDark {
  width: 200px;
  height: 35px;
  border: none;
  color: $white;
  background-color: $blue;
  border: 2px solid $blue;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $blue;
    background-color: $white;
    border-color: $blue;
    cursor: pointer;
  }
}

@mixin ButtonBlueLight {
  width: 200px;
  height: 35px;
  border: none;
  color: $blue;
  background-color: $white;
  border: 2px solid $blue;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    cursor: pointer;
  }
}

//Red Buttons
@mixin ButtonRedDark {
  width: 200px;
  height: 35px;
  border: none;
  color: $white;
  background-color: $red;
  border: 2px solid $red;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $red;
    background-color: $white;
    border-color: $red;
    cursor: pointer;
  }
}

@mixin ButtonRedLight {
  width: 200px;
  height: 35px;
  border: none;
  color: $red;
  background-color: $white;
  border: 2px solid $red;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $white;
    background-color: $red;
    border-color: $red;
    cursor: pointer;
  }
}

//Purple Buttons
@mixin ButtonPurpleDark {
  width: 200px;
  height: 35px;
  border: none;
  color: $white;
  background-color: $purple;
  border: 2px solid $purple;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $purple;
    background-color: $white;
    border-color: $purple;
    cursor: pointer;
  }
}

@mixin ButtonPurpleLight {
  width: 200px;
  height: 35px;
  border: none;
  color: $purple;
  background-color: $white;
  border: 2px solid $purple;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $white;
    background-color: $purple;
    border-color: $purple;
    cursor: pointer;
  }
}

//Purple Buttons
@mixin ButtonGreenDark {
  width: 200px;
  height: 35px;
  border: none;
  color: $white;
  background-color: $green;
  border: 2px solid $green;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $green;
    background-color: $white;
    border-color: $green;
    cursor: pointer;
  }
}

@mixin ButtonGreenLight {
  width: 200px;
  height: 35px;
  border: none;
  color: $green;
  background-color: $white;
  border: 2px solid $green;

  font-size: $font-small;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    color: $white;
    background-color: $green;
    border-color: $green;
    cursor: pointer;
  }
}
//? Override
p {
  margin: 0px;
}
